@model IEnumerable<kernel.Models.Hotel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewData["Title"] = "All Hotels";
}


@if (TempData.ContainsKey("message"))

{
    <div class="alert alert-success alert-dismissible" id="messageAlert">
        @TempData["message"]
    </div>
}



<style>
    .cancelled{
        color:red;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }
</style>


<div class="row">
    <div class="col-xl-12">
        <div class="main-content-title-profile mb-50">
            <div class="main-content-title">
                <h3>All Hotel</h3>
            </div>
        </div>
        <div class="recent-listing-area">
            <div class="title-and-tab">
                <h6>Hotel Info</h6>
            </div>
            <div class="recent-listing-table">
                <table class="eg-table2">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Rooms available</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                           @foreach (var hotel in Model)
        {
                        <tr>

                            <td data-label="Tour Package">
                                <div class="product-name">
                           
                                    <div class="product-content">
                                        <h6><a href="hotel-details.html">@hotel.name</a></h6>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                                <path d="M8.99939 0C5.40484 0 2.48047 2.92437 2.48047 6.51888C2.48047 10.9798 8.31426 17.5287 8.56264 17.8053C8.79594 18.0651 9.20326 18.0646 9.43613 17.8053C9.68451 17.5287 15.5183 10.9798 15.5183 6.51888C15.5182 2.92437 12.5939 0 8.99939 0ZM8.99939 9.79871C7.19088 9.79871 5.71959 8.32739 5.71959 6.51888C5.71959 4.71037 7.19091 3.23909 8.99939 3.23909C10.8079 3.23909 12.2791 4.71041 12.2791 6.51892C12.2791 8.32743 10.8079 9.79871 8.99939 9.79871Z"></path>
                                                </svg> <span>@hotel.city, @hotel.country</span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td data-label="Price">
                                <span class="text-nowrap">
                                    $ @hotel.price
                                </span>
                            </td>
                            <td data-label="Status">
                                <span class="@(hotel.status == "pending" ? "pending" : hotel.status == "Available" ? "confirmed" : "cancelled") text-nowrap">
                                    @hotel.status
                                </span>
                             </td>
                            <td data-label="maxRoom">
                                @hotel.maxRoom rooms
                            </td>

                                <td data-label="action">
                                    <a href="@Url.Action("hotel_image", new { id = hotel.id })" class="primary-btn2 btn-hover">
                                        <span class="text-nowrap">
                                           <i class="bi bi-images pe-1"></i>Add image
                                        </span>
                                    </a>
                                    <a href="@Url.Action("hotel_edit", new { id = hotel.id })" class="primary-btn2 btn-hover">
                                        <span class="text-nowrap">
                                            <i class="bi bi-pencil-square pe-1"></i>Edit
                                        </span>
                                    </a>
                                    <a href="@Url.Action("hotel_delete", new { id = hotel.id })" class="primary-btn2 my-1 btn-hover">
                                        <span class="text-nowrap">
                                            <i class="bi bi-trash pe-1"></i>Delete
                                        </span>
                                    </a>
                                </td>
                          
                        </tr>
        }
                    </tbody>
                </table>
                <div class="pagination-area">
                    <ul class="paginations">
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                <a href="@Url.Action("all_hotel", new { page = i })">@i</a>
                            </li>
                        }
                    </ul>

                    <ul class="paginations-buttons">
                        <li>
                            <a href="@(ViewBag.CurrentPage == 1 ? "#" : Url.Action("all_hotel", new { page = ViewBag.CurrentPage - 1 }))"
                               class="@(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 7 14">
                                    <path d="M0 7.00008L7 0L2.54545 7.00008L7 14L0 7.00008Z"></path>
                                </svg>
                                Prev
                            </a>
                        </li>
                        <li>
                            <a href="@(ViewBag.CurrentPage == ViewBag.TotalPages ? "#" : Url.Action("all_hotel", new { page = ViewBag.CurrentPage + 1 }))"
                               class="@(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                                Next
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 7 14" fill="none">
                                    <path d="M7 7.00008L0 0L4.45455 7.00008L0 14L7 7.00008Z"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>




<script>
    setTimeout(function () {
        var messageAlert = document.getElementById("messageAlert");

        if (messageAlert) {
            messageAlert.style.display = "none";
        }
    }, 3000);
</script>